// COLORS

$color-primary: rgb(0, 223, 67);
$color-primary-light: #55c57a;
$color-primary-dark:rgba(20, 199, 139, 0.8);

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777777;
$color-white: #ffffff;
$color-black: rgb(0, 0, 0);

// FONT SIZE- DEFAULT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;