*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::selection {
    color: #ffffff;
    background-color: $color-primary-dark;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}